NODE_ENV=development
PORT=8081
TZ=America/Santiago

# misma BD que backend
DATABASE_URL=postgresql://postgres@localhost:5432/hgf_dev?schema=public
LOG_LEVEL=info

# Webhook Meta
META_VERIFY_TOKEN=cambia_este_token_unico
META_APP_SECRET=coloca_tu_app_secret_de_meta
WEBHOOK_ENFORCE_SIGNATURE=false
